In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Student_Marks.csv')

In [3]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [4]:
x = df.loc[:,['number_courses','time_study']]

In [5]:
y = df.loc[:,['Marks']]

In [6]:
x.head()

   number_courses  time_study
0               3       4.508
1               4       0.096
2               4       3.133
3               6       7.909
4               8       7.811

In [7]:
y.head()

    Marks
0  19.202
1   7.734
2  13.811
3  53.018
4  55.299

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 10)

In [10]:
model = LinearRegression()

In [11]:
model.fit(x_train,y_train)

LinearRegression()

In [12]:
y_prediction = model.predict(x_test)

In [13]:
from sklearn.metrics import r2_score

In [14]:
r2_score(y_test,y_prediction)

0.9393161544337274

In [15]:
import pickle

In [16]:
file = open('model1.pkl','wb')

In [17]:
pickle.dump(model,file)

In [18]:
file.close()