In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

In [2]:
df= pd.read_csv("Data_Train.csv")

In [3]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df= df.drop(columns=["Airline","Route","Duration","Total_Stops","Additional_Info"], axis=1)

In [5]:
df

      Date_of_Journey    Source Destination Dep_Time  Arrival_Time  Price
0          24/03/2019  Banglore   New Delhi    22:20  01:10 22 Mar   3897
1           1/05/2019   Kolkata    Banglore    05:50         13:15   7662
2           9/06/2019     Delhi      Cochin    09:25  04:25 10 Jun  13882
3          12/05/2019   Kolkata    Banglore    18:05         23:30   6218
4          01/03/2019  Banglore   New Delhi    16:50         21:35  13302
...               ...       ...         ...      ...           ...    ...
10678       9/04/2019   Kolkata    Banglore    19:55         22:25   4107
10679      27/04/2019   Kolkata    Banglore    20:45         23:20   4145
10680      27/04/2019  Banglore       Delhi    08:20         11:20   7229
10681      01/03/2019  Banglore   New Delhi    11:30         14:10  12648
10682       9/05/2019     Delhi      Cochin    10:55         19:15  11753

[10683 rows x 6 columns]

In [6]:
df.isnull().sum()

Date_of_Journey    0
Source             0
Destination        0
Dep_Time           0
Arrival_Time       0
Price              0
dtype: int64

In [7]:
X=df.drop(columns=["Price"],axis=1).values

In [8]:
X

array([['24/03/2019', 'Banglore', 'New Delhi', '22:20', '01:10 22 Mar'],
       ['1/05/2019', 'Kolkata', 'Banglore', '05:50', '13:15'],
       ['9/06/2019', 'Delhi', 'Cochin', '09:25', '04:25 10 Jun'],
       ...,
       ['27/04/2019', 'Banglore', 'Delhi', '08:20', '11:20'],
       ['01/03/2019', 'Banglore', 'New Delhi', '11:30', '14:10'],
       ['9/05/2019', 'Delhi', 'Cochin', '10:55', '19:15']], dtype=object)

In [9]:
Y=df["Price"].values

In [10]:
Y

array([ 3897,  7662, 13882, ...,  7229, 12648, 11753], dtype=int64)

In [11]:
X_tr,X_ts,Y_tr,Y_ts=train_test_split(X,Y, random_state=10,test_size=0.2)

In [12]:
acc_value=[]
err_value=[]

In [13]:
for k in range(1,30):
    model = KNeighborsClassifier(n_neighbors =k)
    model.fit(X_tr,Y_tr)
    Y_prediction = model.predict(X_ts)
    accuracy=accuracy_score(Y_ts,Y_prediction)
    acc_value.append(accuracy)
    err_value.append(1-accuracy)

ValueError: could not convert string to float: '9/03/2019'